/*body부분 grid활용 구역분배*/

body{
  display:grid;
  grid-template:"header header header"
  "nav  nav nav" 2em
  "subTitle subTitle subTitle"
  "main main main" 
  "footer footer footer";
  background:#888;
}
header{ grid-area:header;}
nav{ grid-area:nav;}

section{ grid-area:section;}
footer{ grid-area:footer;}
.main{ grid-area:main;}
#subTitle{ grid-area:subTitle;}

/*header 부분*/

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

a {
  text-decoration: none;
  color:black;
}

header p {
  font-size:1.6em;
  
  position: relative;
  transform: translateX(10px);
  align-self: center;
}

header .HomeImage {
  justify-self: center;
  align-self: center;
  font-style: sans-serif;
  font-size: 2.8em;
  
}

header .siteA {
  font-weight: 600;
  justify-self: end;
  font-size:1.6em;
}



/*nav 부분 menuContainer*/

.menuContainer {
  height: 2em;
  display: grid;
  background: #888;
  grid-template-columns: 3fr 1fr;
  align-content:end;
  border-bottom:4px solid black;
}

.menuContainer .leftContainer {
  
  display: flex;
  justify-content: space-around;
}

.menuContainer .rightContainer {

  display: flex;
  justify-content: space-between;
  
}

nav li{

  font-size: 1.4em;
}
#subTitle {
  margin-top:10px;
  display:flex;
  height: 1.6em;
 
  font-size:1.5em;
  align-items:center;
}


/*main부분 section과 asdie*/

.main{
  display:flex;
  justify-content:space-between;
  font-size:1.25em;
  padding :10px;
}
  

.main section{
width: 80%;
height: 600px;
}


.mainSection{
  display:grid;
  grid-template:1fr 1fr /1fr 1fr;
}
.mainSection div{
  margin:10px;
  overflow:hidden;
  text-overflow:ellipsis;
 white-space:nowrap;
  
}
.mainSection div h1{
  font-weight:bold;
  border-bottom:1px solid darkgray;
}
.mainSection div p{
  width:70%;
  float:left;
  overflow:hidden;
  text-overflow:ellipsis;
 white-space:nowrap;
}

.mainSection div span{
font-size:0.8em;
  float:right;
  font-weight:200;
}


aside.rightAd{
position:fixed;
right:0px;
width: 100px;
height: 300px;
background:darkorange;
border-radius:10px;


}


/*footer 부분*/

footer{
  display:flex;
  justify-content:center;
  font-style:italic;
  font: small-caps  1em sans-serif;
  opacity:0.4;
  
}