/*body부분 grid활용 구역분배*/

body {
    display: grid;
    grid-template: "header header header"
        "nav  nav nav"2em "subTitle subTitle subTitle"
        "main main main"
        "footer footer footer";
    background: #888;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

section {
    grid-area: section;
}

footer {
    grid-area: footer;
}

.main {
    grid-area: main;
}

#subTitle {
    grid-area: subTitle;
}

/*header 부분*/

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

a {
    text-decoration: none;
    color: black;
}

header p {
    font-size: 1.6em;

    position: relative;
    transform: translateX(10px);
    align-self: center;
}

header .HomeImage {
    justify-self: center;
    align-self: center;
    font-style: sans-serif;
    font-size: 2.8em;

}

header .siteA {
    font-weight: 600;
    justify-self: end;
    font-size: 1.6em;
}



/*nav 부분 menuContainer*/

nav .menuContainer {
    height: 2em;
    display: grid;
    background: #888;
    grid-template-columns: 3fr 1fr;
    align-content: end;
    border-bottom: 4px solid black;
}

nav .menuContainer .leftContainer {

    display: flex;
    justify-content: space-around;
}

nav .menuContainer .rightContainer {

    display: flex;
    justify-content: space-between;

}

nav .menuContainer li {

    font-size: 1.4em;
}

/* subTitle 부분*/

#subTitle {
    margin-top: 10px;
    display: flex;
    height: 1.6em;

    font-size: 1.5em;
    align-items: center;
}



/* 기본 윂페이지에서 section과 asdie 분활 */
.Main {
    display: flex;
    justify-content: space-between;
    font-size: 1.25em;
    padding: 10px;
    position: relative;
}


.Main section {
    width: 79%;
    height: 1000px;
}


.Main .asideWrap {
    width: 19%;
    height: 600px;
    display: grid;
    position: fixed;
    right: 0;


}

.Main aside {
    background: tomato;
    margin: 2px;
}



/* menu 의 section부분 */





/*footer 부분*/

footer {
    height: 200px;
    display: flex;
    justify-content: center;
    font-style: italic;
    font: small-caps 1em sans-serif;
    opacity: 0.4;

}