<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../public/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,300' rel='stylesheet'
    type='text/css'>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


  <title>Home Page d+_+b</title>
</head>


<body>
  <!-- nav top set -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <nav class="nav nav-pills ">
          <a class="nav-link" href="nav1">Nav 1</a>
          <a class="nav-link" href="nav2">Nav 2</a>
          <a class="nav-link" href="nav3">Nav 3</a>
          <a class="nav-link" href="nav4">Nav 4</a>
        </nav>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-xs-5">
            <input type="email" placeholder="E-mail" class="form-control form-control-sm" id="InputEmail1"
              aria-describedby="emailHelp">
          </div>
          <div class="col-xs-5"><input type="password" placeholder="PassWord" class="form-control form-control-sm ml-1"
              id="InputPassword1">
          </div>

          <div class="col-xs-2">
            <a role="button" href="login" type="submit" class="btn btn-secondary btn-sm ml-3">Log In</a>
            <a role="button" href="signUp" type="submit" class="btn btn-secondary btn-sm ml-3">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- nav top end -->
  <!-- jumbotron set -->
  <div class="jumbotron container-fluid">
    <h1 class="text-center text-monospace"><a href="/">Welcome and Enjoy</a></h1>
    <div class="text-right">
      <small>version 1.0</small>
    </div>
  </div>
  <!-- jumbotron end -->

  <!-- board container set -->
  <div class="container-fluid board-container">

    <div class="col-sm-12 board-container">
      <table class="table table-borderless table-hover">
        <thead>
          <tr class="alert alert-info">
            <td colspan="4" scope="col">제목</td>
            <td scope="col">글쓴이</td>
            <td scope="col">공감수</td>
            <td scope="col">등록일</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="4" scope="row">게시글11123123123123123123123</td>
            <td>글쓴이</td>
            <td>공감수</td>
            <td>등록일</td>
          </tr>
          <tr>
            <td colspan="4" scope="row">게시글11123123123123123123123</td>
            <td>글쓴이</td>
            <td>공감수</td>
            <td>등록일</td>
          </tr>

          <tr>
            <td colspan="4" scope="row">게시글11123123123123123123123</td>
            <td>글쓴이</td>
            <td>공감수</td>
            <td>등록일</td>
          </tr>
          <tr>
            <td colspan="4" scope="row">게시글11123123123123123123123</td>
            <td>글쓴이</td>
            <td>공감수</td>
            <td>등록일</td>
          </tr>
          <tr>
            <td colspan="4" scope="row">게시글11123123123123123123123</td>
            <td>글쓴이</td>
            <td>공감수</td>
            <td>등록일</td>
          </tr>
          <tr>
            <td colspan="4" scope="row">게시글11123123123123123123123</td>
            <td>글쓴이</td>
            <td>공감수</td>
            <td>등록일</td>
          </tr>
          <tr>
            <td colspan="4" scope="row">게시글11123123123123123123123</td>
            <td>글쓴이</td>
            <td>공감수</td>
            <td>등록일</td>
          </tr>
          <tr>
            <td colspan="4" scope="row">게시글11123123123123123123123</td>
            <td>글쓴이</td>
            <td>공감수</td>
            <td>등록일</td>
          </tr>
          <tr>
            <td colspan="4" scope="row">게시글11123123123123123123123</td>
            <td>글쓴이</td>
            <td>공감수</td>
            <td>등록일</td>
          </tr>
          <tr>
            <td colspan="4" scope="row">게시글11123123123123123123123</td>
            <td>글쓴이</td>
            <td>공감수</td>
            <td>등록일</td>
          </tr>
          <tr>
            <td colspan="4" scope="row">게시글11123123123123123123123</td>
            <td>글쓴이</td>
            <td>공감수</td>
            <td>등록일</td>
          </tr>
          <tr>
            <td colspan="4" scope="row">게시글11123123123123123123123</td>
            <td>글쓴이</td>
            <td>공감수</td>
            <td>등록일</td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>
  <!-- board container end -->

  <!-- pagination set -->
  <div class="blank" style="height:30px"></div>
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
  <!-- pagination end -->

  <!-- footer set -->
  <footer class="d-flex justify-content-center align-items-end" style="height:10em;">
    <div class="text-monospace">Copyright(c) 2020 Duckey.Kim all rights reserved.
      <div class="text-center"><a href="mailto:#">duckey-kdh@google.com</a></div>
    </div>
  </footer>

  <!-- footer end -->

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>


</body>

</html>