a {
  text-decoration: none !important;
}

table {
  table-layout: fixed;
}

table th,
table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table .card {
  white-space: normal;
}

body {
  font-size: 14px;
}
