<div style="height:10vw"></div>


<div class="d-flex align-items-end justify-content-center text-monospace">
  Copyright(c) 2020 Duckey.Kim
</div>
<div class="d-flex align-items-start justify-content-center text-monospace">
  <a href="mailto:#">duckey-kdh@google.com</a>
</div>
<div class="d-flex align-items-start justify-content-center text-monospace">
  <a href="https://github.com/duckey-kim" style="text-decoration: none; color: brown;">https://github.com/duckey-kim</a>
</div>