<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,300" rel="stylesheet"
  type="text/css" />
<link rel="stylesheet" type="text/css"
  href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

<script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
<link rel="stylesheet" href="/public/css/style.css" />
<script>
  initApp = function () {
    setCookie("userName", "");
    setCookie("userEmail", "");
    setCookie("userUid", "");
    firebase.auth().onAuthStateChanged(function (user) {
      if (user) {
        user.getIdToken().then(function (idToken) {
          setCookie("userName", user.displayName);
          setCookie("userEmail", user.email);
          setCookie("userUid", user.uid);
        })
      }
    });
  };
  window.addEventListener("load", function () {
    initApp();
  });

  function setCookie(name, value, days) {
    if (days) {
      var date = new Date();
      date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
      var expires = "; expires=" + date.toGMTString();
    } else {
      var expires = "";
    }
    document.cookie = name + "=" + value + expires + "; path=/";
  }

  function signOut() {
    alert("logout!!");
    firebase.auth().signOut().then(function () {
      console.log("sign out!!");
      window.location.reload();
    }).catch(function (error) {
      console.log(error);
    });
  }
</script>
<!-- ckeditor -->
<script src="https://cdn.ckeditor.com/ckeditor5/19.1.1/classic/ckeditor.js"></script>

<title><%= titleName%></title>