<div class="jumbotron" style="
        background-image: url('/public/img/mountains.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: 3em;
        margin-bottom:1em;
        min-height: 200px;
      ">
</div>