<div class="jumbotron mb-2" style="
        background-image: url('../public/img/mountains.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: 50px;
        min-height: 100px;
      ">
</div>