<form id="editPostform " method="POST" action="/edit">
  <div class="form-group row mb-0">
    <div class="col-sm-12">
      <label for="colFormLabelSm" class="col-xs-1 col-form-label col-form-label-sm">제목</label>
      <div class="col-xs-8">
        <input type="text" class="form-control form-control-sm" id="postTitle" name="posttitle"
          value="<%= row.posttitle%>">
      </div>
      <div class="btn btn-info col-xs-1 btn-sm">
        <label class="mb-0" for="ex_file">파일추가</label>
        <input multiple="multiple" type="file" style="display: none;" id="ex_file" name="postimage" />
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <label for="colForText" class="col-xs-1 col-form-label col-form-label-sm">내용</label>
      <textarea class="form-control col-sm-12" id="postcontent" name="postcontent" rows="4">
      <%= row.postcontent %></textarea>
    </div>
  </div>
  <input type="hidden" name="postnum" value="<%= row.postnum%>">
  <input type="hidden" name="category" value="<%= category%>">
  <div type=" button" id="saveButton" class="btn btn-primary btn-sm float-right" data-toggle="modal"
    data-target="#editmodal">
    Save
  </div>

  <div type=" button" id="cancleButton" class="btn btn-primary btn-sm float-right mr-2" data-toggle="modal"
    data-target="#canclemodal">
    Cancle
  </div>
  <!-- editbutton modal -->
  <div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm Edit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          글을 수정하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" onclick="document.getElementById('editPostform').submit()">Save
            changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- cancle button modal -->
  <div class="modal fade" id="canclemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm Cancel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          글 수정을 취소하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary" onclick="window.history.go(-2)"
            data-dismiss="modal">Yes</button>
          <button data-dismiss="modal" type="button" class="btn btn-primary">No</button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- board container end -->
<div class="forSpace" style="height: 20px;"></div>
<div class="forSpace" style="height: 20px;"></div>